@use './variables&mixins.scss' as *;

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Manrope', sans-serif;
}

main{
  @include flex-center;
  height: max(810px, 100vh);
  background-color: $Dark-Blue;

  .card{
    width: 540px;
    height: fit-content;
    padding-top: 48px;
    padding-bottom: 72px;
    border-radius: 15px;
    background: $Dark-Grayish-Blue;
    box-shadow: 30px 50px 80px 0px rgba(0, 0, 0, 0.10);
    position: relative;

    .container{
      width: 444px;
      margin: auto;
      text-align: center;
      font-feature-settings: 'clig' off, 'liga' off;
      font-weight: 800;
      
      h1{
        color: $Neon-Green;
        font-size: 13px;
        font-style: normal;
        letter-spacing: 4.086px;
      }
  
      p{
        color: $Light-Cyan;
        font-size: 28px;
        letter-spacing: -0.3px;
        margin: 24px 0 40px;
      }

      .divider-desktop{
        display: block;
      }

      .divider-mobile{
        display: none;
      }
  
      button{
        position: absolute;
        bottom: -32px;
        left: 50%;
        transform: translateX(-50%);
        width: 64px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        transition: 0.5s;
        background: $Neon-Green;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
          border-radius: 64px;
          box-shadow: 0px 0px 40px 0px $Neon-Green;
        }
      }    
    }
  }
}

/**********************
** Mobile and Tablet **
**********************/

@media (width < 600px) {
  main{
    height: max(667px, 100vh);

    .card{
      width: 343px;
      padding-top: 40px;
      padding-bottom: 64px;
      border-radius: 10px;

      .container{
        width: 295px;

        h1{
          font-size: 11px;
          letter-spacing: 3.457px;
        }

        p{
          font-size: 24px;
          letter-spacing: -0.257px;
          margin: 24px 0;
        }

        .divider-desktop{
          display: none;
        }
  
        .divider-mobile{
          display: block;
        }
      }
    }
  }
}